

*{
    box-sizing: border-box;
}
body{
    background-color: rgba(28, 20, 100, 0.4);
    z-index: -2;
}


img{
    width: 20%;
}
.instagram, .facebook{
    border:  1px  solid  hsl(197, 61%, 50%);
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    width: 80%;
    border-radius: 30px;
}


.container{
 
 display: flex;
 flex-direction: column;
 /* justify-content: space-around; */
 align-items: center;
 margin-right: 0;
 
}
.container{
    margin-left: 15%;
   }

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding-left: 20%; */
}




@media screen and (max-width: 600px){
   header{
    padding-left: 29%;
   } 


   body{
     font-size: 0.5rem;
   }
}



@media screen and (min-width: 900px){
    header{
        margin-right: 15%;
        padding-left: 0;
    } 
    .background-image{
        margin-left: 37%;
      }
}

@media screen and (max-width: 900px){
    .container{
        margin-right: 15%;
    }

    .facebook, .instagram{
        width: 100%;
    }

    h1{
        width: 50%;
    }
   header{
    padding-left: 0;
   }
  
   .background-image{
     margin-left: 38%;
   }

}
@media  screen and(min-width: 1200px) {
    header{
        margin-left: 24%;
        padding-left: 0;
    } 
}
@media screen and (900px <= width <= 1200) {

   .container{
     margin-right: 10%;
     margin-left: 25%;
   }

   header{
    margin-right: 25%;
    padding-left: 0;
   } 
}

@media screen and (min-width: 1200px){
    .container{
        margin-right: 10%;
    }
    .header{
        padding-right: 10%;
        padding-left: 0;
    }
}




a{
    text-decoration: none;
    color: rgb(240, 11, 213);
    font-weight: bold;
    font-size: 19px;
}



h2{
    margin-top: 0;
}